/* 
    Background: #141414
    Main: #E50A13
*/

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    color:white;
}

ul{
    list-style:none;
}

html{
    font-size:62.5%;
    font-family:"Open Sans",sans-serif;
}

body{
    background-color:#141414;
    margin-left:2rem;
}

nav{
    display:inline-block;
}

.logo{
    font-size: 4rem;
    color:#E50A13;
    display:inline-block;
    margin-right:2.5rem;
}

.nav-element{
    display:inline-block;
    font-size:2rem;
}

.nav-link{
    color:white;
    padding:2rem;
    font-weight:600;
    font-size:1.5rem;
    height:100%;
    text-decoration:none;

    /* TODO: Issue here with transition. Fires incorrectly on page load */
    transition: color 200ms;
}

.nav-link:hover{
    color:rgb(124, 124, 124);
}

header{
    position:sticky;
    vertical-align:middle;
    display:flex;
    align-items:center;
    margin:0.1rem;
}

/* Movie sections */
.section-title{
    font-weight:700;
    font-size:4rem;
}

.movie-list{
    display:flex;
    align-items:center;
    overflow-x:auto;
}

.movie-element{
    min-width:25rem;
    width:25rem;
    height:15rem;
    margin-right:1rem;
    transition:transform 150ms;
}

.movie-title{
    color:white;
    opacity:0;
    transition: opacity 250ms;
    position:absolute;
    bottom:1rem;
    left:1rem;
}

.movie-image{
    width:100%;
    height:100%;
    transition:filter 150ms;
}

.movie-element:hover .movie-image{
    filter:brightness(50%);
}

.movie-element:hover{
    transform: scale(1.1);
}

.movie-element:hover .movie-title{
    opacity:1;
}